- content_for :title, "Education Loans | Credit Cards | Medical Insurance"
- content_for :description, "Search for and compare student loans, education loans, auto loans, personal loans, student medical insurance, credit cards & FX payments options for international students and visa holders."
.container-fluid
  #home-section-1.about-us-header.home-section
    .row
      .col-md-12
        %h2{ style: 'text-align:center;color:white;margin: 35px 0'}
          About Us
        %div{style: "text-align:center", class: "col-md-8 offset-md-2"}
          %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/q7BoV7IP1JA?rel=0&autoplay=1", frameborder: "0", allowfullscreen: nil}

        / #header-button
        /   = link_to 'Apply Now', new_user_registration_path + "?application_type=student_loan_refi", class: 'btn btn-success btn-lg'
  #home-section-2.home-section
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %p{ style: 'text-align:center'} Nomad Credit is a financial marketplace for those underserved by other marketplaces. We aim to find the right financial product for international students and/or visa holders currently or planning to live in the U.S. The main visa holders we serve are F1, J1, L1 and H-1B visas. Nomad Credit allows international students and visa holders to search for education loans, education loan refinancing, personal loans, auto loans, auto insurance, student medical insurance, renters insurance and credit cards. Based upon the information provided in a search, Nomad Credit will provide the potential financial options for that international student or visa holder.  


        %br
        %p{ style: 'text-align:center'} We allow international students and visa holders to become aware of and evaluate the different financial options that they may have available by connecting them to the lenders and financial institutions that may be able to serve them. Not all lenders and institutions will serve international students and/or visa holders currently or planning to live in the U.S. Nomad Credit has identified and brought together the lenders and institutions that do. We believe in reducing the barriers to credit for those not currently adequately served in the U.S. financial system.
  
  #home-section-4.home-section{ style: 'padding-bottom:50px'}
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %h3 WHAT IS THE NOMAD CREDIT FINANCIAL MARKETPLACE? 
        %p{ style: 'text-align:center;font-size:1.3rem'}
          Nomad Credit’s financial marketplace is a central location where international students and visa holders can search for numerous financial products; including education loans (also known as student loans), education loan refinancing, personal loans, auto loans, auto insurance, student medical insurance, renters insurance, credit cards and international payments. We allow international students and visa holders to become aware of and evaluate the different financial options that they may have available by connecting them to the lenders and financial institutions that may be able to serve them. 

 

  #home-section-3.home-section
    .row
      .col-md-8.offset-md-2
        %h3 BENEFITS
        #why-unifi
          .row
            .col-md-4{ style: 'text-align:center'}
              = image_tag 'free.svg', height: '80'
              %h4 No Fees
              %p{ style: 'text-align:center'} We don’t charge you a fee to use our platform. 


            .col-md-4{ style: 'text-align:center'}
              = image_tag 'customer.svg', height: '80'
              %h4 Customer Service 
              %p{ style: 'text-align:center'} We are committed to providing the highest level of customer service and are happy to answer any queries regarding our platform.


            .col-md-4{ style: 'text-align:center'}
              = image_tag 'credit.svg', height: '80'
              %h4 No Credit Check
              %p{ style: 'text-align:center'} We don’t pull credit scores.


          .row
            .col-md-8.offset-md-2
              %p{ style: 'text-align:center'}
                Please submit any questions to 
                = link_to 'help@nomadcredit.com', 'mailto:help@nomadcredit.com' 
                or start a chat with our online specialists.

  #home-section-5.home-section
    .row
      .col-md-10.offset-md-1.col-10.offset-1
        %h3{ style: 'margin: 50px 0 50px 0'} LEADERSHIP
    .row
      .col-md-8.offset-md-2
        .row
          .col-md-6{ style: 'text-align:center'}
            .brian
            %br
            %h4 Brian Hoffman
            %h5 Chief Executive Officer
          .col-md-6{ style: 'text-align:center'}
            .nathan
            %br
            %h4 Nathan Treadwell
            %h5 Business Development
    .row
      .col-md-10.offset-md-1.col-10.offset-1
        %h3{ style: 'margin: 50px 0 30px 0'} ADVISORY BOARD
    .row
      .col-md-12
        %p{ style: 'text-align: center;font-size: 1.5rem'} Alan Matsumura
        %p{ style: 'text-align: center;font-size: 1.5rem'} Andrew Beck
        %br
        %br


%script{ type: "text/javascript", src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593f865fe238afcc"}


        
