- content_for :title,  "Nomad Credit - Frequently Asked Questions"
- content_for :description, "Search for and compare student loans, education loans, auto loans, personal loans, student medical insurance, credit cards & FX payments options for international students and visa holders."

.row.page-wrap
  .col-md-12
    .row
      .col-md-8.offset-md-2
        %h2.question-category{ style: 'text-align:center'} Frequently Asked Questions
        #accordion{"aria-multiselectable" => "true", :role => "tablist"}
          .card
            #headingOne.card-header{:role => "tab"}
              %h5.mb-0
                %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                  How can Nomad Credit help me find a loan?
            #collapseOne.collapse.show{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .card-block
                Nomad Credit has relationships with lenders that provide credit or insurance productsto international students and/or visa holders currently or planning to live in the U.S. Our platform is designed to efficiently connect those that need credit with those that will provide it.

          .card
            #headingTwo.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                  What products can be searched through Nomad Credit?

            #collapseTwo.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .card-block
                Currently, we can help you find student, personal and auto loans as well as student loan refinance, credit cards and international payment options. We can also help you find health, auto and renters insurance.

          .card
            #headingThree.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                  What fees does Nomad Credit charge?

            #collapseThree.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .card-block
                We don't charge our customers any fees. Our platform is free to use for customers.

          .card
            #headingFour.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                  How do I know if I am going to be approved by a lender?

            #collapseFour.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
              .card-block
                There is no way to know for sure if you are going to be approved by a lender until you fill out an application with that lender. All lenders have different credit criteria. However, having a cosigner and/or an acceptable credit score will increase your likelihood of approval.
          .card
            #headingFive.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                  Can I search for options with little or no credit?
            #collapseFive.collapse{"aria-labelledby" => "headingFive", :role => "tabpanel"}
              .card-block
                Yes, Nomad Credit's mission is to help those with little or no credit find a loan. 

          .card
            #headingSix.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseSix", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                  Can I search for options if I am not a U.S. citizen?
            #collapseSix.collapse{"aria-labelledby" => "headingSix", :role => "tabpanel"}
              .card-block
                Yes, you may search for options if you aren't a U.S. citizen. Nomad Credit was created to help non-U.S. citizens find the credit they need, including international students studying or planning to study in the U.S.
             
          .card
            #headingFifteen.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFifteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFifteen"}
                  Can I search for options if I am a U.S. citizen?

            #collapseFifteen.collapse{"aria-labelledby" => "headingFifteen", :role => "tabpanel"}
              .card-block
                Yes, you may search for options if you are a U.S. citizen. Nomad Credit wants to help all customers with little to no credit find a loan. 

          .card
            #headingSeven.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseSeven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
                  Can I search for multiple products?
            #collapseSeven.collapse{"aria-labelledby" => "headingSeven", :role => "tabpanel"}
              .card-block
                Yes, we highly encourage it. Information from your previous searches such as name, address, etc. will be auto-filled into your new search to help save you time and effort.

          .card
            #headingEight.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseEight", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
                  Do I have to fill out the same search again for new products?
            #collapseEight.collapse{"aria-labelledby" => "headingEight", :role => "tabpanel"}
              .card-block
                All information that was filled out in a previous search will be auto-filled into your new search. Any personal information that has changed since your last search will need to be changed on your new search.

          .card
            #headingNine.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseNine", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseNine"}
                  Should I have a cosigner?
            #collapseNine.collapse{"aria-labelledby" => "headingNine", :role => "tabpanel"}
              .card-block
                For student loan products, having a creditworthy cosigner may increase your loan options and reduce the interest rate on your loan.

          .card
            #headingTen.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseTen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTen"}
                  Who can be a cosigner?
            #collapseTen.collapse{"aria-labelledby" => "headingTen", :role => "tabpanel"}
              .card-block
                Each lender may have different eligibility requirements, but generally a cosigner can be a parent, relative, spouse, friend or anyone else who is willing to help. They should have an acceptable credit score and income. They will be required to make your loan payments if you can't.

          .card
            #headingEleven.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseEleven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEleven"}
                  Should I enter my spouse's info?
            #collapseEleven.collapse{"aria-labelledby" => "headingEleven", :role => "tabpanel"}
              .card-block
                You should enter your individual financial information including income and expenses. For example, if you pay for half of your house, then enter half of the total rent or mortgage payment.

          .card
            #headingTwelve.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseTwelve", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwelve"}
                  When will I be notified of any loan options that fit my profile?

            #collapseTwelve.collapse{"aria-labelledby" => "headingTwelve", :role => "tabpanel"}
              .card-block
                You will be notified of any potential options after submitting a search.
          .card
            #headingThirteen.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseThirteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThirteen"}
                  What if there aren't any loan options that fit my profile?


            #collapseThirteen.collapse{"aria-labelledby" => "headingThirteen", :role => "tabpanel"}
              .card-block
                If there aren't any loan options that fit your profile, we may reach out to help you find a lender not currently on our platform. We are a young company, so not all lenders that we know who may lend to you are on our platform yet.
          .card
            #headingFourteen.card-header{:role => "tab"}
              %h5.mb-0
                %a.collapsed{"aria-controls" => "collapseFourteen", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourteen"}
                  Does Nomad Credit pull my credit?

            #collapseFourteen.collapse{"aria-labelledby" => "headingFourteen", :role => "tabpanel"}
              .card-block
                Nomad Credit doesn't pull your credit. You're able to submit a search without getting your credit pulled.


         
        %br
        %br
        %br

/ .row
/   .col-md-8.offset-md-2
/     %h2.question-category Borrowing
/     #accordion2{"aria-multiselectable" => "true", :role => "tablist", style: "margin-bottom: 100px"}
/       .card
/         #headingOne.card-header{:role => "tab"}
/           %h5.mb-0
/             %a{"aria-controls" => "collapse4", "aria-expanded" => "true", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse4"}
/               Collapsible Group Item #1
/         #collapse4.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
/           .card-block
/             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
/       .card
/         #headingTwo.card-header{:role => "tab"}
/           %h5.mb-0
/             %a.collapsed{"aria-controls" => "collapse5", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse5"}
/               Collapsible Group Item #2
/         #collapse5.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
/           .card-block
/             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richards on ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
/       .card
/         #headingThree.card-header{:role => "tab"}
/           %h5.mb-0
/             %a.collapsed{"aria-controls" => "collapse6", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse6"}
/               Collapsible Group Item #3
/         #collapse6.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
/           .card-block
/             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.