- content_for :title,  "International Student and Education Loan | Financial Products for International Students"
- content_for :description, "Search for and compare student loans, education loans, auto loans, personal loans, student medical insurance, credit cards & FX payments options for international students and visa holders."
.container-fluid
   

  #home-section-2.home-section
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %h3 How Does Nomad Credit Work? 
        %p We allow you to search for education loans or other financial product options that you need. After you sign in, you’ll fill in a short search for the financial product that you are interested in. Based upon the information that you provide, we will show you the options that you may have from our partners. For more information about Nomad Credit’s platform, watch the video below!
        %div{style: "text-align:center;margin-top:30px", class: "col-md-8 offset-md-2"}
          %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/q7BoV7IP1JA", frameborder: "0", allowfullscreen: nil}

  
  #home-section-4.home-section{ style: 'padding-bottom:50px'}
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %h3 How To Search For Product Options
        %p{ style: 'text-align:center;font-size:1.3rem'}
          Need additional help navigating our platform? Not sure how to search for options for an education loan or other financial product? Watch the video below for a short in-depth tutorial that will walk you through the process!
        %div{style: "text-align:center;margin-top:30px", class: "col-md-8 offset-md-2"}
          %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/nlBv-kuMtRs", frameborder: "0", allowfullscreen: nil}

  / #home-section-3.home-section{ style: 'padding-bottom:50px'}
  /   .row
  /     .col-md-8.offset-md-2
  /       %h3 What Are Likely Product Options?
  /       %p{ style: "font-size:1.3rem"} An additional feature we provide to you is that once you fill out a search for a certain product, we will show you the other product options that you may have based upon the information you provided. Watch the video below to see how our Likely Product Options feature works! 

  /       %div{style: "text-align:center;margin-top:30px", class: "col-md-8 offset-md-2"}
  /         %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/DWqy8zfKZVc", frameborder: "0", allowfullscreen: nil}

  #home-section-3.home-section{ style: 'padding-bottom:50px'}
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %h3 How To Send Money Overseas
        %p{ style: 'text-align:center;font-size:1.3rem'}
          Do you need to send money overseas? Nomad Credit is partnered with OFX to help you send money overseas to your friends and family. Watch the video below to see the ways that you can start sending money overseas with OFX! 
        %div{style: "text-align:center;margin-top:30px", class: "col-md-8 offset-md-2"}
          %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/sCU4ABPLhII", frameborder: "0", allowfullscreen: nil}



  #home-section-4.home-section{ style: 'padding-bottom:50px'}
    .row
      .col-md-8.offset-md-2.col-10.offset-1{style: 'text-align:center;font-size:1.3rem'}
        %p 
          Still have questions? Please 
          = link_to 'Contact Us,', '/contact-us', style: 'text-decoration:underline;color:white' 
          start a chat or reach out to us at           
          = link_to 'help@nomadcredit.com', 'mailto:help@nomadcredit.com', style: 'text-decoration:underline;color:white' 
          and we will respond to you shortly!

 

%script{ type: "text/javascript", src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593f865fe238afcc"}