- content_for :title, "Education Loans | Credit Cards | Medical Insurance"
- content_for :description, "Join Our Team at Nomad Credit to Help Reduce the Barriers to Credit for International Students and Visa Holders."

.container-fluid
	#home-section-1.home-section
		.row
			.col-md-12
				%h2{ style: 'text-align:center;margin: 35px 0'}
					Join Our Team
			.col-md-8.offset-md-2.col-10.offset-1{ style: 'text-align:center;padding-bottom:100px'}
				%p{style: 'font-size: 1.3rem'} We are looking for dynamic and driven individuals who want to join our effort to build a global financial marketplace that will ease the barriers to credit for international students and visa holders.
				%br
				%p{style: 'font-size: 1.3rem'} 
					To view our current open roles please 
					= link_to 'visit this link.', asset_path("jobs_pdf.pdf"), style: 'text-decoration:underline;color:blue' 
				%br
				%p{style: 'font-size: 1.3rem'} 
					Please send inquiries to 
					= link_to 'careers@nomadcredit.com', 'mailto:careers@nomadcredit.com', style: 'text-decoration:underline;color:blue' 
					and we will be in touch with you shortly.
