- content_for :title,  "International Student Personal Loan | International Visa Holder Personal Loan"
- content_for :description, "Search for and compare personal loan lending partners available for international students studying in the US and visa holders working in the US."

.container-fluid
  #home-section-1.personal-loans-header.home-section
    .row
      .col-md-12

        %h1{ style: 'text-align:center'}

          %br
          Find personal loan options regardless of your citizenship.
     
        #header-button{ style: 'text-align:center'}
          %a{href: new_user_registration_path + "?application_type=personal_loan", class: 'btn btn-success btn-lg'}
            Click Here to Find Your
            %br.mobile-break
            Recommended Lending Partners
  #home-section-2.home-section
    .row
      .col-md-8.offset-md-2.col-10.offset-1
        %h3 PERSONAL LOANS
        %p Nomad Credit connects customers with potential lending partners based on the search profile they submit on our platform. Personal loans can be used to improve your lifestyle or to cover an unexpected expense. Why wait for something that you need now? With the many loan options and lending partners in the market, Nomad Credit can help point you in the right direction. Once you see your recommended lending partners, Nomad Credit will be there to help you through the process and answer any questions that you may have.



  #home-section-4.home-section
    .row
      .col-md-12
        %h3 GET STARTED
        #so-easy
          .row
            .col-md-3
              .row
                .col-2
                  .count 1
                .col-10
                  %h4 Create an Account
                  %p
                    %a{href: "/users/sign_up", style: "text-decoration:underline;color:white"} Sign Up
                    and Sign In.
            .col-md-3
              .row
                .col-2
                  .count 2
                .col-10
                  %h4 Search
                  %p
                    Fill out our 1 page search profile.
            .col-md-3
              .row
                .col-2
                  .count 3
                .col-10
                  %h4 See Lending Partners
                  %p
                    We will notify you of lending partners that fit your profile.


            .col-md-3
              .row
                .col-2
                  .count 4
                .col-10
                  %h4 Get Support
                  %p
                    We will follow up to answer any questions that you may have regarding your personal loan options. 

  #home-section-3.home-section
    .row
      .col-md-8.offset-md-2
        %h3 WHY NOMAD CREDIT?
        #why-unifi
          .row
            .col-md-8.offset-md-2
              .row
                .col-md-1
                  %i.fa.fa-check-square-o
                .col-md-11
                  %p
                    Options available for non-U.S. and U.S. citizens
              .margin-10
              .row
                .col-md-1
                  %i.fa.fa-check-square-o
                .col-md-11
                  %p
                    Quick and easy search – 1 page
              .margin-10              
              .row
                .col-md-1
                  %i.fa.fa-check-square-o
                .col-md-11
                  %p
                    Personalized help for any questions that may come up throughout the process                                         

%script{ type: "text/javascript", src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593f865fe238afcc"}
