.row.terms-row.page-wrap
  .col-md-12
    .terms{style: 'padding:50px 0 100px 0'}
      .row
        .col-md-10.offset-md-1{style: 'background-color:white;padding:50px 100px 50px 100px'} 
          %p{style: 'text-align:center;font-size:20px'}
            %strong NOMAD TERMS OF USE

          %p{style: 'text-align:center'}
            %strong November 30th, 2017
          
          %p
            PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY.  BY ACCESSING AND USING THIS WEBSITE YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW.  THESE TERMS AND CONDITIONS ARE SUBJECT TO CHANGE.  ANY CHANGES WILL BE POSTED TO THIS WEBSITE FROM TIME TO TIME.  IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS STATED HEREIN, PLEASE EXIT THIS WEBSITE IMMEDIATELY.  
          %p
            You are currently viewing www.nomadcredit.com (“Site”), a website owned and operated by Unifi Lending LLC d/b/a Nomad Credit, a Delaware limited liability company (“Nomad”).  This Site and any of the services provided by Nomad in connection with this Site (“Services”) are provided expressly subject to the terms and conditions stated herein (“Terms of Use”).  By accessing the Site, you acknowledge that you have read, understand, and agree to be bound by these Terms of Use.  If any provision contained in these Terms of Use conflicts with a provision contained in another agreement that you enter into with Nomad or related to the Nomad Services, the provision of the other agreement shall govern with respect that specific aspect of the Site or Services.
          %p
            %strong Changes and Modifications
          %p
            Nomad reserves the right in its sole discretion to temporarily or permanently change or modify these Terms of Use or discontinue the Site, or any portion of the Site, for any reason, at any time without notice to you. Please review these Terms of Use from time to time because your continued access or use of the Site after any modifications have become effective shall be deemed your conclusive acceptance of the modified Terms of Use.
          %p
            %strong General Eligibility
          %p
            This Site is intended for individuals who are at least eighteen (18) years of age and can form a binding contract with Nomad in compliance with all applicable local, state, federal and international laws, rules and regulations.  By using the Site, you represent that you agree to abide by all of the terms and conditions of these Terms of Use.  If you violate any of these Terms of Use, or violate any other agreement with us, we may restrict, suspend, or terminate your access to any portion or all of the Site and Services without notice. 

          %p
            Unauthorized use of the Site or Services, including unauthorized access to Nomad’s systems and misuse of passwords or Site information is strictly prohibited.  If you violate any of these Terms of Use or any other agreement between you and Nomad, then Nomad may restrict, suspend, or terminate your access to any portion or all of the Site and Services without notice. 

          %p
            %strong Children’s Privacy
          %p
            We do not knowingly solicit from, and the Services are not intended for, children under 13, and children under 13 should not provide personal information online.  If a parent or guardian becomes aware that his or her child under the age of 13 has provided us with information without their consent, he or she should contact us.  We will delete such information from our files.
          %p
            %strong Privacy
          %p
            Your privacy is very important to us.  Please carefully read Nomad’s Privacy Policy, which details how Nomad treats your personal information.  We will not share or sell any of your information with any third party, except as specifically described in these Terms of Use and our Privacy Policy, which is hereby incorporated by reference into these Terms of Use.  Where applicable, we will limit sharing of your information in accordance with the choices you have provided us in response to the Privacy Policy.   

          %p
            %strong How We Protect Your Information and Use Cookies
          %p 
            We, or our service providers, and other companies we work with may deploy and use cookies, web beacons, local shared objects and other tracking technologies for various purposes, such as fraud prevention and monitoring our advertising and marketing campaign performance.  Some of these tracking tools may detect characteristics or settings of the specific device you use to access our online Services.
          %p
            To help provide our Services, enhance your experience and collect information about mobile activity, we may place small data files on your computer or mobile device.  These data files may be in the form of cookies, pixel tags, local shared objects or other similar technologies.  Cookies and similar technologies enable us to personalize our application and services for you.  These technologies may allow us to store and manage your preferences and settings, measure and analyze how you use our website and the effectiveness of our communications, offer services and help us improve our services and security.
          %ul 
            %li
              %p “Cookies” are small amounts of data a website can send to a visitor’s web browser.  They are often stored on the device you are using to help track your areas of interest.  Cookies may also enable us or our service providers and other companies we work with to relate your use of our online Services over time to customize your experience.  Most web browsers allow you to adjust your browser settings to decline or delete cookies, but doing so may degrade your experience with our online Services.
            %li
              %p Clear GIFs, pixel tags or web beacons—which are typically one-pixel, transparent images located on a webpage or in an email or other message—or similar technologies may be used on our website and in some of our digital communications (such as email or other marketing messages).  They may also be used when you are served advertisements or you otherwise interact with advertisements outside of our online Services.  These are principally used to help recognize users, assess traffic patterns and measure Website or campaign engagement.
            %li 
              %p 
                Local shared objects, sometimes referred to as “flash cookies,” may be stored on your hard drive using a media player or other software installed on your device.  Local shared objects are similar to cookies in terms of their operation but may not be managed in your browser in the same way.  For more information on managing local shared objects, click here: 
              %a{ href: "https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html"} https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html
            %li
              %p Most browsers provide you with the ability to block, delete or disable these technologies.  If you choose to reject cookies or similar technologies, some Services may not be available or some functionality may be limited or unavailable.  Please review your mobile device help pages for assistance with changing your settings.
            %li
              %p Your IP Address is a number that is automatically assigned to the device that you are using by your Internet Service Provider (ISP). An IP Address is identified and logged automatically in our server log files whenever you visit our Site, along with the time of the visit and the page(s) that were visited.  We use IP Addresses for purposes such as calculating Site usage levels, helping diagnose server problems, to personalize/tailor your experience while engaging with us online and offline, for compliance and security purposes, for advertising, and administering the Site.
            %li
              %p “Do Not Track” Signals.  We do not respond to “do not track” signals from your browser at this time.  To learn more about how “do not track” works, please visit 
              %a{href: "http://allaboutdnt.com/"} http://allaboutdnt.com/

          %p
            %strong Service Rights and Restrictions

          %p All material and content on this Site including but not limited to text, data, articles, designs, software, photos, images, and other information (collectively the “Site Content”) are the proprietary property of Nomad with all rights reserved.  Site Content may not be copied, reproduced, distributed, republished, displayed, posted, transmitted, or sold in any form or by any means without Nomad’s express prior written consent.  You acknowledge that all Site Content is and shall remain the sole property of Nomad.  You may only use access the Site and use the Services for their intended purpose, and any use of the Site or Services that is not expressly authorized herein is strictly prohibited.  

          %p
            %strong Lender Compensation
          %p Nomad may earn a commission or fee from lenders to whom you are referred when you accept their offer and/or submit an application.  Your use of the Services constitutes your agreement with this compensation arrangement.

          %p
            %strong Your Account
          %p You will be required to register and create an account to access certain parts of the Site and use the Services. When you create an account, you will be required to pick a user name and a password. You may not disclose your user name or password to any third party. If you learn of any unauthorized use of your password or account, please contact us immediately.

          %p
            %strong Trademarks
          %p Nothing on this Site should be construed as granting the you any license or right to use any trademark, whether owned by Nomad or a third party, displayed on the Site, without prior written approval of the trademark owner.  You may not use, copy, duplicate, display, distribute, modify or reproduce any trademark contained on the Site without the prior express written consent of the trademark’s owner.    
          %p
            %strong Copyright Complaints
          %p 
            If you believe that any material on the Site infringes upon any copyright that you own or control, you may send a written notification to us via email at  
            %a{href: "mailto:help@nomadcredit.com"}help@nomadcredit.com.
            In your notification, please:
          %ul
            %li confirm you are the owner, or authorized to act on behalf of the owner, of the copyrighted work that has been infringed;
            %li identify the copyrighted work or works you claim have been infringed;
            %li identify the material that you claim is infringing or is the subject of infringing activity and that is to be removed (please include information reasonably sufficient to permit us to locate the material);
            %li provide your contact details, including an email address; and
            %li provide a statement that the information you have provided is accurate and that you have a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law.
          %p 
            %strong Third Party Sites
          %p We are not responsible for the information practices employed by websites linked to or from our Site.  Since third-party websites may have different privacy policies and/or security standards governing their sites, we advise you to review the privacy policies and terms and conditions of these sites prior to providing any personal information.

          %p 
            %strong Our Services
          %p 
            Nomad is not a lender or a broker of financial services.  We do not take applications or make credit decisions in connection with information or requests that you may choose to submit on the Site.  We do not endorse or recommend the products, services or offers of any particular lender accessed by you as a part of the Service.  Any correspondence you have with a lender, including offers, promotions or the delivery of and the payment for products and services, and any other terms, conditions, warranties or representations associated with such correspondence or promotions, are solely between you and the lender.  We assume no liability, obligation or responsibility for any part of any such correspondence, offers or promotion.
          %p 
            %strong Disclaimer of Warranties
          %p 
            NOMAD PROVIDES THE SITE AND SERVICES “AS IS” AND “AS AVAILABLE” WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.  ADDITIONALLY, NOMAD MAKES NO CLAIM OR GUARANTEE AS TO THE ACCURACY OF ANY INFORMATION PROVIDED OR SITE CONTENT.
          %p 
            %strong Limitation of Liabilities
          %p
            IN NO EVENT WILL NOMAD OR ITS DIRECTORS, OFFICERS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR TO ANY OTHER PARTY FOR LOST PROFITS OR ANY OTHER SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR INDIRECT DAMAGES ARISING FROM YOUR USE OF THE SITE OR SERVICES, EVEN IF NOMAD IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  TO THE EXTENT ALLOWED BY APPLICABLE LAW, NOMAD’S LIABILITY TO YOU FOR ANY CAUSE OF ACTION REGARDLESS OF FORM WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID BY YOU TO NOMAD, IF ANY, AND IN NO CASE SHALL NOMAD’S LIABILITY TO YOU EXCEED $1,000.00.
          %p 
            %strong Indemnification
          %p
            You agree to indemnify, defend, and hold harmless Nomad and its affiliates, officers, directors, employees, agents, and representatives for damages, losses, liabilities, settlements and expenses (including without limitation costs and attorneys’ fees), arising in connection with any claim, suit, proceeding, or other action arising from your use of the Site or Services, your conduct in connection with your use of the Site or Services, or any violation of these Terms of Use or of any law or the rights of any third party.  
          %p 
            %strong  Miscellaneous
          %p{style: 'text-decoration:underline'}
            Choice of Law; Jurisdiction and Venue
          %p 
            These Terms of Use shall be governed by the laws of the State of Illinois without regard to any conflict of laws provision.  You irrevocably consent to the exclusive jurisdiction and venue of the state or federal courts in Chicago, Illinois in connection with any dispute or the enforcement of any right arising from these Terms of Use.
          %p{style: 'text-decoration:underline'} Severability
          %p 
            If any provision of these Terms of Use is held by a court of competent jurisdiction to be unenforceable for any reason, such provision shall be changed and interpreted so as to best accomplish the objectives of the original provision to the fullest extent allowed by law and the remaining provisions of these Terms of Use shall remain in full force and effect.
          %p{style: 'text-decoration:underline'} Waiver
          %p 
            Nomad’s failure or delay in exercising any right, power, or remedy under these Terms of Use shall not operate as a waiver of any such right, power, or remedy.  
          %p 
            %strong Contacting Us
          %p 
            If you have questions, comments, or complaints regarding these Terms of Use, the Site, or Services, you may call 773-893-0973 or email us at 
            %a{href: "mailto:help@nomadcredit.com"}help@nomadcredit.com. 
